@media screen and (max-width: 768px) {
  header {
    margin: 0 auto;
    display: block;
    width: 90%;
    position: relative;
    min-height: 51px; /* ou a altura do botão */
  }

  header a {
    display: none;
  }

  button#btn-header {
    height: 31px;
    width: 91px;
    position: absolute;
    right: 0;
    top: 20px;
  }

  main {
    position: relative;
    margin: 0 auto;
  }

  h1,
  p,
  button#btn-section {
    position: static;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0px 0px 50px 0px;
  }

  button#btn-section {
    margin-top: 32px;
  }

  section#section-right {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60px;
    margin-left: 0%;
  }

  section#section-left {
    position: absolute;
    display: block;
    top: 400px;
    width: 100%;
  }

  img {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section#section-right {
    display: inline-block;
    text-align: left;
    position: static;
  }

  img {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1740px) {
  section#section-right {
    display: inline-block;
    text-align: left;
    position: static;
  }
}
